<div id="mc_embed_signup">
  <form action="http://newtribetextiles.us5.list-manage.com/subscribe/post?u=91a807e8f62950eb2a1e91573&amp;id=9c50b100ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <label for="mce-EMAIL">The summer heat is upon us and we are building looms!  Stay informed.</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
</div>
